<link rel="stylesheet" href="/css/styles.css">

<% if(typeof(user) !== "undefined" && typeof(optionalMessage)==="undefined"){ %>
    <% if(user){ %>
<h4>Hello <%=user.email %> </h4>
<%}}%>

<img src="/images/fuckyourputs.jpg" alt="">

<br>



<a href="/user/dangerzone">Privacy and Settings</a>