<link rel="stylesheet" href="../css/styles.css">
<br>
<a href="/user/editprofile" >Edit Profile</a>


<hr>

<h1>You've Entered the Danger Zone</h1>
<h4>Turn Back Before It's Too Late</h4>



<img src="/images/dangerzone.jpg" alt="">

<br>
<a id="dangerzonebutton" href="/user/deleteaccount" onclick="if (!confirm('Are you sure?')) return false;">Delete My Account</a>
