<link rel="stylesheet" href="../css/styles.css">

<br>
<br>
<br>
<h4>Edit Profile:</h4>
<form action="/user/editprofile" method="POST">
    <label for="profile"></label>
    <textarea id="profile" name="profile" ><%=user.profile%> </textarea>

    <br>
    <br>
    <input type="submit" value="Update">

</form>