<link rel="stylesheet" href="../css/styles.css">

<h4>This is the Login Screen!</h4>

<form action="/user/login" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">

    <label for="password">Password</label>
    <input type="password" id="password" name="hashedpassword">
    <input type="submit" value="Log in!">

</form>